* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: violet;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.container-big {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.container-small {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

/* HEADER  */

/* NAV  */

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100vw;
  position: fixed;
  z-index: 999;
}

.logo {
  padding: 25px 5px;
}

.info-left {
  display: flex;
}

.info-right {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  line-height: 40px;
  list-style: none;
  font-size: 18px;
  padding: 20px 10px;
}

nav a {
  text-decoration: none;
  color: black;
}


nav li:hover {
  border-bottom: 2px solid blue;
}

.nav-button {
  line-height: 80px;
  padding-right: 10px;
}

button {
  background-color: blue;
  font-size: 18px;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.nav-button button {
  padding: 5px 10px;
}

/* JUMBOTRON  */

.jumbotron {
  padding-top: 140px;
  background-color: #B4D0E7;
}

h1 {
  font-size: 80px;
  padding: 20px;
}

.presentation {
  display: flex;
  padding: 10px;
  position: relative;
}

.description {
  width: 350px;
}

.image-jumbo {
  position: absolute;
  left: 390px;
}

.image-jumbo .image {
  width: 750px;
}

.description button {
  margin: 30px 0;
}

.description span {
  display: inline-block;
}

.arrow .fa-solid {
  font-size: 45px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.arrow a {
  color: black;
}

/* MAIN  */

/* plan  */

.plan {
  padding-top: 150px;
}

h3 {
  font-size: 40px;
}

.option {
  padding: 50px 0;
}

.option span {
  padding-right: 35px;
}

.selection {
  display: flex;
  justify-content: space-between;
}

.choice {
  width: calc(100% / 3 - 20px);
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 25px;
  flex-grow: 2;
}

.member {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
  flex-grow: 0;
}

h5 {
  font-size: 20px;
  padding-top: 15px;
}

.content .price {
  font-size: 12px;
  padding: 15px 0;
}

.content .month {
  color: gray;
}

.content ul {
  list-style: none;
  padding: 40px 0;
}

.content li {
  padding: 10px 0;
}

.pay-link {
  padding: 30px 0;
}

hr {
  width: 50px;
  color: gray;
}

.check-list {
  display: block;
  margin-bottom: 20px;
}

.icon {
  float: inline-start;
  padding-right: 5px;
  padding-bottom: 17px;
}

.check {
  color: blue;
  float: inline-start;
  padding-right: 5px;
}

.enterprise {
  padding-top: 50px;
}

.contact {
  border: 1px solid gray;
  padding: 25px;
  position: relative;
}

.contact h5 {
  padding-bottom: 20px;
}

.contact p {
  padding: 20px 0;
  width: 60%;
}

.contact span {
  display: block;
  padding-bottom: 20px;
}

.enterprise button {
  position: absolute;
  padding: 10px 30px;
  right: 20px;
  top: 20px;
}

/* Partner  */

.partner {
  padding: 150px 0;
}

.partner .container-small {
  display: flex;
}

.partner .image img {
  width: 600px;
  flex-grow: 2;
}

.partner .partner-box {
  flex-grow: 1;
  padding: 50px 50px;
}

h4 {
  font-size: 25px;
}

.partner-box p {
  padding: 20px 0;
  font-size: 17px;
}

.partner-box button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Business  */

.binder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  padding: 50px 20px;
  width: 330px;
}

.cards img {
  width: 100%;
}

.cards p {
  padding-top: 30px;
  font-size: 17px;
}

/* Clients  */

.clients {
  padding: 150px 0;
}

.clients h3 {
  width: 600px;
  padding-bottom: 60px;
}

/* Partners  */

.partners {
  background-color: gray;
}

.square-big {
  background-color: #F5F5F5;
  float: left;
  width: 33%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  position: relative;
}

.square img {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(241deg) brightness(106%) contrast(106%); 
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.bordeaux {
  background-color: #61082B;
}

.cyan {
  background-color: #0093CE;
}

.blue {
  background-color: #0D2481;
}

.yellow {
  background-color: #FFD82F;
}

.lightblue {
  background-color: #B4D0E7;
}

.darkred {
  background-color: #D5061F;
}