* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: violet;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
}

.container-big {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.container-small {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

/* HEADER  */

/* NAV  */

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100vw;
  position: fixed;
  z-index: 999;
}

.logo {
  padding: 25px 5px;
}

.info-left {
  display: flex;
}

.info-right {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  line-height: 40px;
  list-style: none;
  font-size: 18px;
  padding: 20px 10px;
}

nav a {
  text-decoration: none;
  color: black;
}


nav li:hover {
  border-bottom: 2px solid blue;
}

button {
  background-color: blue;
  color: white;
  padding: 15px;
  border: none;
}

/* JUMBOTRON  */

.jumbotron {
  padding-top: 140px;
  background-color: #B4D0E7;
}

h1 {
  font-size: 80px;
  padding: 20px;
}

.presentation {
  display: flex;
  padding: 10px;
  position: relative;
}

.description {
  width: 350px;
}

.image-jumbo {
  position: absolute;
  left: 390px;
}

.image {
  width: 750px;
}

.description button {
  margin: 30px 0;
}

.description span {
  display: inline-block;
}

.arrow .fa-solid {
  font-size: 45px;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* MAIN  */

.plan {
  padding-top: 150px;
}

h3 {
  font-size: 30px;
}

.option {
  padding: 50px 0;
}

.option span {
  padding-right: 35px;
}

.selection {
  display: flex;
  justify-content: space-between;
}

.choice {
  width: calc(100% / 3 - 20px);
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 25px;
}

.member {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.content h5 {
  font-size: 20px;
}

.content .price {
  font-size: 12px;
  padding: 15px 0;
}

.content .month {
  color: gray;
}

.content ul {
  list-style: none;
  padding: 40px 0;
}


